<!DOCTYPE html>
<html>
   <style>
   	.divEntry{
   		border: 3px solid white;
   	}
   	body{
   		background-color: black;
   		color: white;
   	}
   	h1{
   		text-align: center;
   	}
   	.topNav{
   		background-color: black;
   		overflow: hidden;
   	}
   	.topNav a{
   		float: left;
 		color: white;
  		text-align: center;
  		padding: 14px 16px;
  		text-decoration: none;
  		font-size: 30px;
   	}
   </style>

   <body>
   	<div class="topNav">
   		<a href="https://thehackernews.com/">The Hacker News</a>
   		<a href="https://krebsonsecurity.com/">Krebs on Security</a>
   		<a href="https://www.darkreading.com/">Dark Reading</a>
   		<a href="https://www.schneier.com/">Schneier on Security</a>
   		<a href="https://nakedsecurity.sophos.com/">Naked Security</a>
   	</div>
   	<div class="divEntry" name="divKrebs">
   		<h1>Krebs on Security</h1>
   	   {%for i in krebs_entry%}
      	<h2>{{i.title}}</h2>
      	<h4>{{i.published[0:25]}}</h4>
      	<p>{{i.summary}}</p> 
   	   {%endfor%}
    </div>
    <br/>
    <div class="divEntry" name="divTHN">
    	<h1>The Hacker News</h1>
       {%for i in thn_entry%}
        <h2>{{i.title}}</h2>
        <h4>{{i.published[0:25]}}</h4>
        <p>{{i.summary}}</p> 
   	   {%endfor%}
   	</div>
   	<br/>
   	<div class="divEntry" name="divDarkr">
   		<h1>Dark Reading</h1>
       {%for i in darkr_entry%}
        <h2>{{i.title}}</h2>
        <h4>{{i.published[0:25]}}</h4>
        <p>{{i.summary}}</p> 
   	   {%endfor%}
   	</div>
   	<div class="divEntry" name="divSchneier">
   		<h1>Schneier on Security</h1>
       {%for i in schneier_entry%}
        <h2>{{i.title}}</h2>
        <h4>{{i.published[0:25]}}</h4>
        <p>{{i.summary}}</p> 
   	   {%endfor%}
   	</div>
   	<div class="divEntry" name="divNaked">
   		<h1>Naked Security</h1>
       {%for i in nakedsec_entry%}
        <h2>{{i.title}}</h2>
        <h4>{{i.published[0:25]}}</h4>
        <p>{{i.summary}}</p> 
   	   {%endfor%}
   	</div>
   </body>
</html>